html {
    box-sizing: border-box;
    font-size: 62.55%; /* Reset para REMS - 62.5% = 10px de 16px */
}
*,
*:after,
*:before { /* apply a natural box layout model to all elements, but allowing components to change */
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1,6rem;
    line-height: 2;
}

/* Globales */
img {
    max-width: 100%; /*etiqueta q permite q las imágenes sean responsivas*/
}

.contenedor { /*va a centrar todo el contenido de la página*/
    width: 95%;
    max-width: 120rem; /* = 1200px */
    margin: 0 auto;
}

h1 {
    font-size: 3.3rem;
}

h2 {
    font-size: 3rem;

}

h3 {
    font-size: 2.6rem;

}

h4 {
    font-size: 2rem;
}

/* Utilidades */
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.d-block {
    display: block!important;
}

.contenido-centrado {
    max-width: 800px;
}

/* Botones */
.boton {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton-naranja {
    background-color: #E08709;
}

.boton-verde {
    background-color: #71B100;
}

/* Header */
.site-header {
    background-color: #333333;
}

.site-header.inicio {
    background: url("../img/header.jpg");
    background-position: center center;
    background-size: cover; /*toma la altura y el ancho que haya disponible*/
    height: 100vh; /*detecta el tamaño de la pantalla y escala la altura de acuerdo al mismo*/
    min-height: 60rem; /*minimo tamaño de pantalla para que el tamaño se adapte a pantallas más pequeñas*/
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

@media (min-width: 768px) {
    .contenido-header {
        text-align: left;
    }
}

.link-logo {
    text-decoration: none;
    color: white;
    font-size: 4.5rem;
    font-weight: 700;
    text-decoration: overline;
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.barra {
    padding-top: 3rem; /*espacio hacia dentro del elemento no es = a margin q separa de otro elemento*/
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between; /*alinear elementos horizontalmente*/
        align-items: center; /*alinear elementos verticalmente*/
    }
}
/* Navegación */
.navegacion a {
    color: white; /*el color puede ser hexadecimal, rgba, rgb o hsla y se recomienda usar color picker como tmbn tener en cuenta que con rgba o hsla se puede + una transparencia al final*/
    text-decoration: none;
    font-size: 2.2rem; /* = 18px */
    margin-right: 2rem; /*separación con el siguiente elemento*/
}

@media (min-width: 768px) {
    .navegacion a{
        display: inline-block;
        font-size: 1.8rem;
        margin-right: 2rem;
    }
    .navegacion a:last-of-type { /*pseudoselector que selecciona sólo a un elemento entre los enlaces*/
    margin: 0;
    }
}

.navegacion a:hover { /*pseudoselector q cambia el color de fuente cuando el mouse pasa sobre un enlace*/
    color: #71B100;
}

/** MOBILE MENU **/
.mobile-menu img{
    width: 5rem;
}

@media (min-width: 768px) {
    .mobile-menu { 
        display: none;
    }
}

.navegacion:target {
    display: block;
}

.navegacion {
    display: none;
}

@media (min-width: 768px) {
    .navegacion{
        display: block;
    }
}

/* Iconos nosotros */
@media (min-width: 768px) {
    .iconos-nosotros {
    display: flex;
    justify-content: space-between;
    text-align: center;
    }
}

.icono{
    text-align: center;
}

@media (min-width: 786px) {
    .icono {
    flex-basis: calc(33.3% - 1rem); /*se usa para ajustar las imágenes*/
    }
}

.icono h3 {
    text-transform: uppercase;
}

/* Anuncios */
@media (min-width: 768px) {
    .contenedor-anuncios {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
}

.anuncio {
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .anuncio {
        flex: 0 0 calc(33.3% - 1rem);
    }
}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0;
}

.precio {
    color: #71B100;
    font-weight: 700;
}

.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
}

.iconos-caracteristicas li {
    display: flex;
}

.iconos-caracteristicas li img {
    margin-right: 2rem;
}
.ver-todas {
    display: flex;
    justify-content: flex-end;
}

/** Contacto Home **/
.imagen-contacto {
    background-image: url("../img/encuentra.jpg");
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.contenido-contacto {
    flex: 0 0 95%;
    color: white;
}

.contenido-contacto p {
    font-size: 1.8rem;
}

/** Sección Inferior **/
@media (min-width: 765px) {
    .seccion-inferior {
        display: flex;
        justify-content: space-between;
    }
    .seccion-inferior .blog {
        flex-basis: 60%;
    }
    .seccion-inferior .testimoniales {
        flex-basis: calc(40% - 2rem);
    }
}

.entrada-blog {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .entrada-blog {
        display: flex;
        justify-content: space-between;
    }
}

.entrada-blog :last-of-type {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .entrada-blog .imagen {
        flex-basis: 40%;
    }
    .entrada-blog .texto-entrada {
        flex-basis: calc(60% - 3rem);
    }
}

.texto-entrada a {
    color: black;
    text-decoration: none;
}

.texto-entrada h4 {
    margin: 0;
    line-height: 1.4rem;
}

.texto-entrada h4::after {
    /*pseudoelemento*/
    content: '';
    display: block;
    width: 15rem;
    height: 0.5rem;
    background-color: #71B100;
    margin-top: 1rem;
}

.texto-entrada span {
    color: #E08709;
}

/** Testimoniales **/
.testimonial {
    background-color: #71B100;
    font-size: 2.2rem;
    padding: 2rem;
    color: white;
    border-radius: 2rem;
}

.testimonial p {
    text-align: right;
}

.testimonial blockquote::before {
    content: '';
    background-image: url("../img/comilla.svg");
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: -2rem;
    top: -36px;
}

.testimonial blockquote {
    position: relative; /* la posición relativa no cambia su posición por default*/
    padding-left: 5rem;
    font-weight: 300;
}

/* Footer */
.site-footer {
    background-color: #333333;
    margin: 0;
}

.site-footer nav{
    display: none;
}

@media (min-width: 768px) {
    .site-footer nav{
        display: block;
    }
}

.contenedor-footer {
    padding: 3rem 0;
    text-align: center;
}

@media (min-width: 768px) {
    .contenedor-footer {
        display: flex;
        justify-content: space-between;
        }
}

.copyright {
    margin: 0;
    color: white;
}

/* INTERNAS */
/* Nosotros */
@media (min-width: 768px) {
    .contenido-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /*50% 50%;*/
        grid-column-gap: 2rem;
    }
}

.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem;
}

/* Anuncios */
.resumen-propiedad {
    display: flex;
    justify-content: space-between; /*Aligns horizontally*/
    align-items: center; /*Alligns vertically*/
}

/* Contact Us */
form p {
    font-size: 1.4rem;
    color: #4f4f4f;
    margin: 2rem 0 0;
}

legend {
    font-size: 2.4rem;
    color: #4f4f4f;
}

label {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}

input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

input[type="radio"] {
    width: auto;
    margin: 0;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    height: 20rem;
}

.forma-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
